@charset "UTF-8";

#inquiryWrap{
	width: 600px;
	margin: 70px auto;
}

.writeBT{
	height: 50px;
}
.writeBT a{
	display: inline-block;
	padding: 3px 15px;
	background: cornflowerblue;
	color: white;
	border-radius: 10px;
	font-size: 15px;
	margin-top: 11px;
}
.writeBT a:hover{
	color: cornflowerblue;
	background: white;
	border: 1px solid cornflowerblue;
}
#inquiryBox{
	border: 1px solid #aaa;
	border-radius: 10px;
	padding: 20px;
}
#inquiryList{
	width: 100%;
}
#inquiryList li{
	display: flex;
}
.listTitle{
	margin-bottom: 15px;
}
.list{
	border-top: 1px solid #bbb;
	padding: 10px 0;
}
.title{
	width: 50%;
}
.writer{
	width: 30%;
}
.isAnswer{
	width: 20%;
}
.list .title{
	font-weight: 800;
}
