@charset "UTF-8";

#signBox{
	width: 400px;
	margin: 0 auto;
}
#ha{
	display: flex;
	justify-content: center;
}
#signInput input{
	width: 150px;
}
#loginBT{
	width: 80px;
	border: 0;
	border-radius: 10px;
	background: #5f87ff;
	color: white;
	height: 40px;
	cursor: pointer;
}
#option{
	display: flex;
	gap: 25px;
	font-size: 14px;
	justify-content: center;
}